@font-face {
  font-family: 'winamp';
  src: url('../fonts/Sys Flash10.ttf') format('truetype');
}
@font-face {
  font-family: 'digital7';
  src: url('../fonts/digital-7.woff') format('woff');
}
@font-face {
  font-family: 'Pixelated MS Sans Serif';
  src: url('../fonts/ms_sans_serif.woff') format('woff');
}
@font-face {
  font-family: 'Pixelated MS Sans Serif Bold';
  src: url('../fonts/ms_sans_serif_bold.woff') format('woff');
}
html {
  background-color: black;
}
body {
  color: white;
  font-size: medium;
}
#enter-screen {
  background-color: #0a0a0a;
  position: fixed;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
}
#enter-screen .enter-btn {
  font-family: 'Courier New';
  display: block;
  margin: auto;
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
}
#enter-screen .enter-btn:hover {
  font-size: 1.7em;
  text-decoration: underline;
  cursor: pointer;
}
#enter-screen.disable {
  visibility: hidden;
}
.main {
  background-image: url("../assets/Background.gif");
  background-size: 120%;
  background-repeat: no-repeat;
  width: 90em;
  margin: auto;
  image-rendering: pixelated;
}
#section1 header {
  margin: auto;
  width: 55%;
}
#section1 header .title {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
}
#section1 header .yinyang {
  width: 20%;
}
#section1 header .welcome {
  display: block;
  width: 75%;
  height: auto;
}
#section1 header .wings {
  margin-top: -2em;
  margin-bottom: -1em;
}
#section1 header .wings img {
  display: block;
  margin: auto;
  width: 40%;
  image-rendering: auto;
}
.yagokoro-help {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  font-family: "Pixelated MS Sans Serif";
  letter-spacing: 0.05rem;
  background: #c2c6ca;
  font-size: 12px;
  -webkit-font-smoothing: none;
  width: 265px;
  height: 81.15625px;
  box-shadow: 0.5px 0.5px 0 0.5px black, inset 1px 1px #C2C6CA, inset -1px -1px #85898d, inset 2px 2px white;
}
.yagokoro-help.closed {
  visibility: hidden;
}
.yagokoro-help button {
  background: #c2c6ca;
  border: none;
  padding: 0;
  border-radius: 0;
  outline: none;
}
.yagokoro-help .shadow {
  box-shadow: 0.5px 0.5px 0 0.5px black, inset 1px 1px white, inset -1px -1px #85898d;
}
.yagokoro-help .bar {
  font-weight: bold;
  width: calc(100% - 11px);
  height: 13px;
  color: white;
  background: linear-gradient(90deg, navy, #1084d0);
  padding: 2px 3px 3px;
  margin: 3px 2px 1px 3px;
}
.yagokoro-help .bar p {
  margin: 0;
  margin-left: 2px;
}
.yagokoro-help .bar button {
  display: inline-block;
  text-align: right;
  width: 15px;
  height: 13px;
}
.yagokoro-help .bar button:active {
  box-shadow: 0.5px 0.5px 0 0.5px white, inset 1px 1px black, inset -1px -1px #c2c6ca, inset 2px 2px #85898d;
}
.yagokoro-help .bar button:active svg {
  transform: translateX(1px) translateY(1px);
}
.yagokoro-help .bar button svg {
  margin: 3px 3px 3px 4px;
}
#section2 {
  height: 100px;
  margin: auto;
  border: 2px solid white;
}
#section3 {
  width: 35%;
  float: left;
}
#section3 #the-marisa-flight {
  height: 6em;
  width: 13em;
  overflow-x: scroll;
  overflow-y: hidden;
}
#section3 #the-marisa-flight .rooftop-bg {
  background-image: url("../assets/yn_mall_rooftop.png");
  background-repeat: repeat;
  height: 100%;
  background-size: 320px 160.5px;
  background-position-y: 70%;
  width: 4000px;
}
#section3 #seven-color-alice {
  width: 40%;
  font-family: "Pixelated MS Sans Serif";
  text-align: center;
  font-size: large;
}
#section3 #seven-color-alice input[type=range] {
  margin: 0 1em 0 1em;
  -webkit-appearance: none;
  background: transparent;
  width: 100%;
}
#section3 #seven-color-alice input[type=range]:focus {
  outline: none;
}
#section3 #seven-color-alice input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: url("data:image/svg+xml;charset=utf-8,%3Csvg width='11' height='21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 0v16h2v2h2v2h1v-1H3v-2H1V1h9V0z' fill='%23fff'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M1 1v15h1v1h1v1h1v1h2v-1h1v-1h1v-1h1V1z' fill='%23C0C7C8'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9 1h1v15H8v2H6v2H5v-1h2v-2h2z' fill='%2387888F'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10 0h1v16H9v2H7v2H5v1h1v-2h2v-2h2z' fill='%23000'/%3E%3C/svg%3E");
  height: 21px;
  transform: translateY(-8px);
  width: 11px;
}
#section3 #seven-color-alice input[type=range].has-box-indicator::-webkit-slider-thumb {
  background: url("data:image/svg+xml;charset=utf-8,%3Csvg width='11' height='21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 0v20h1V1h9V0z' fill='%23fff'/%3E%3Cpath fill='%23C0C7C8' d='M1 1h8v18H1z'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9 1h1v19H1v-1h8z' fill='%2387888F'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10 0h1v21H0v-1h10z' fill='%23000'/%3E%3C/svg%3E");
  transform: translateY(-10px);
}
#section3 #seven-color-alice input[type=range]::-moz-range-thumb {
  background: url("data:image/svg+xml;charset=utf-8,%3Csvg width='11' height='21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 0v16h2v2h2v2h1v-1H3v-2H1V1h9V0z' fill='%23fff'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M1 1v15h1v1h1v1h1v1h2v-1h1v-1h1v-1h1V1z' fill='%23C0C7C8'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9 1h1v15H8v2H6v2H5v-1h2v-2h2z' fill='%2387888F'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10 0h1v16H9v2H7v2H5v1h1v-2h2v-2h2z' fill='%23000'/%3E%3C/svg%3E");
  border: 0;
  border-radius: 0;
  height: 21px;
  transform: translateY(2px);
  width: 11px;
}
#section3 #seven-color-alice input[type=range].has-box-indicator::-moz-range-thumb {
  background: url("data:image/svg+xml;charset=utf-8,%3Csvg width='11' height='21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 0v20h1V1h9V0z' fill='%23fff'/%3E%3Cpath fill='%23C0C7C8' d='M1 1h8v18H1z'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9 1h1v19H1v-1h8z' fill='%2387888F'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10 0h1v21H0v-1h10z' fill='%23000'/%3E%3C/svg%3E");
  transform: translateY(0);
}
#section3 #seven-color-alice input[type=range]::-webkit-slider-runnable-track {
  background: #000;
  border-bottom: 1px solid grey;
  border-right: 1px solid grey;
  box-shadow: 1px 0 0 #fff, 1px 1px 0 #fff, 0 1px 0 #fff, -1px 0 0 #a9a9a9, -1px -1px 0 #a9a9a9, 0 -1px 0 #a9a9a9, -1px 1px 0 #fff, 1px -1px #a9a9a9;
  box-sizing: border-box;
  height: 2px;
  width: 100%;
}
#section3 #seven-color-alice input[type=range]::-moz-range-track {
  background: #000;
  border-bottom: 1px solid grey;
  border-right: 1px solid grey;
  box-shadow: 1px 0 0 #fff, 1px 1px 0 #fff, 0 1px 0 #fff, -1px 0 0 #a9a9a9, -1px -1px 0 #a9a9a9, 0 -1px 0 #a9a9a9, -1px 1px 0 #fff, 1px -1px #a9a9a9;
  box-sizing: border-box;
  height: 2px;
  width: 100%;
}
#section3 #seven-color-alice .alice {
  width: 100%;
  image-rendering: pixelated;
}
#section3 #seven-color-alice .field-row {
  display: flex;
  align-items: center;
}
#section3 #approved {
  border: 1px solid white;
  width: 25em;
  height: 5em;
  font-size: 0.8em;
  background-color: #000;
}
#section3 #approved img {
  border-right: 1px solid white;
  height: 100%;
  float: left;
}
#section3 #approved .label {
  text-align: center;
  height: 5em;
  width: 26em;
  display: table-cell;
  vertical-align: middle;
  font-family: "Pixelated MS Sans Serif";
}
#section3 #armpits {
  border: 3px dashed red;
  width: 22.5em;
  height: 4em;
  font-size: 0.9em;
  background-color: #ffffff;
}
#section3 #armpits img {
  border-left: 3px dashed red;
  height: 100%;
  float: right;
  margin: 0;
  padding: 0;
}
#section3 #armpits .label {
  font-weight: bold;
  color: #000;
  text-align: center;
  height: 4em;
  width: 22em;
  display: table-cell;
  vertical-align: middle;
  font-family: 'Courier New', Courier, monospace;
}
#section3 #armpits .label .blink-text {
  animation: blinkingText 0.5s infinite;
}
@keyframes blinkingText {
  0% {
    color: red;
  }
  50% {
    color: red;
  }
  51% {
    color: white;
  }
  100% {
    color: white;
  }
}
#transfer {
  width: 200px;
  height: 100px;
  border: 3px solid hsl(25, 43%, 20%);
  background-image: url("../assets/shrine bg.png");
  background-size: 102%;
  background-repeat: no-repeat;
  background-position: 0px -10px;
}
#transfer .text {
  position: relative;
  left: 2px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  letter-spacing: 0.25rem;
  padding: 10px 0 10px 0;
  font-family: 'Times New Roman', Times, serif;
}
#transfer .box-part {
  display: inline-block;
  text-align: center;
}
#transfer .box-part .donation-box {
  width: 40%;
}
#transfer .box-part .hand {
  position: relative;
  top: 15px;
  width: 30%;
}
#rumia-light {
  border: 3px solid #202020;
  width: 200px;
  height: 150px;
  background-color: #000;
  margin-top: 50px;
}
#rumia-light input[type=range] {
  -webkit-appearance: none;
  background: transparent;
  width: 100%;
}
#rumia-light input[type=range]:focus {
  outline: none;
}
#rumia-light input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: url("data:image/svg+xml;charset=utf-8,%3Csvg width='11' height='21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 0v16h2v2h2v2h1v-1H3v-2H1V1h9V0z' fill='%23fff'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M1 1v15h1v1h1v1h1v1h2v-1h1v-1h1v-1h1V1z' fill='%23C0C7C8'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9 1h1v15H8v2H6v2H5v-1h2v-2h2z' fill='%2387888F'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10 0h1v16H9v2H7v2H5v1h1v-2h2v-2h2z' fill='%23000'/%3E%3C/svg%3E");
  height: 21px;
  transform: translateY(-8px);
  width: 11px;
}
#rumia-light input[type=range].has-box-indicator::-webkit-slider-thumb {
  background: url("data:image/svg+xml;charset=utf-8,%3Csvg width='11' height='21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 0v20h1V1h9V0z' fill='%23fff'/%3E%3Cpath fill='%23C0C7C8' d='M1 1h8v18H1z'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9 1h1v19H1v-1h8z' fill='%2387888F'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10 0h1v21H0v-1h10z' fill='%23000'/%3E%3C/svg%3E");
  transform: translateY(-10px);
}
#rumia-light input[type=range]::-moz-range-thumb {
  background: url("data:image/svg+xml;charset=utf-8,%3Csvg width='11' height='21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 0v16h2v2h2v2h1v-1H3v-2H1V1h9V0z' fill='%23fff'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M1 1v15h1v1h1v1h1v1h2v-1h1v-1h1v-1h1V1z' fill='%23C0C7C8'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9 1h1v15H8v2H6v2H5v-1h2v-2h2z' fill='%2387888F'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10 0h1v16H9v2H7v2H5v1h1v-2h2v-2h2z' fill='%23000'/%3E%3C/svg%3E");
  border: 0;
  border-radius: 0;
  height: 21px;
  transform: translateY(2px);
  width: 11px;
}
#rumia-light input[type=range].has-box-indicator::-moz-range-thumb {
  background: url("data:image/svg+xml;charset=utf-8,%3Csvg width='11' height='21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 0v20h1V1h9V0z' fill='%23fff'/%3E%3Cpath fill='%23C0C7C8' d='M1 1h8v18H1z'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9 1h1v19H1v-1h8z' fill='%2387888F'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10 0h1v21H0v-1h10z' fill='%23000'/%3E%3C/svg%3E");
  transform: translateY(0);
}
#rumia-light input[type=range]::-webkit-slider-runnable-track {
  background: #000;
  border-bottom: 1px solid grey;
  border-right: 1px solid grey;
  box-shadow: 1px 0 0 #fff, 1px 1px 0 #fff, 0 1px 0 #fff, -1px 0 0 #a9a9a9, -1px -1px 0 #a9a9a9, 0 -1px 0 #a9a9a9, -1px 1px 0 #fff, 1px -1px #a9a9a9;
  box-sizing: border-box;
  height: 2px;
  width: 100%;
}
#rumia-light input[type=range]::-moz-range-track {
  background: #000;
  border-bottom: 1px solid grey;
  border-right: 1px solid grey;
  box-shadow: 1px 0 0 #fff, 1px 1px 0 #fff, 0 1px 0 #fff, -1px 0 0 #a9a9a9, -1px -1px 0 #a9a9a9, 0 -1px 0 #a9a9a9, -1px 1px 0 #fff, 1px -1px #a9a9a9;
  box-sizing: border-box;
  height: 2px;
  width: 100%;
}
#rumia-light .is-vertical {
  display: inline-block;
  height: 150px;
  transform: translateY(50%);
  width: 4px;
}
#rumia-light .is-vertical > input[type=range] {
  height: 4px;
  margin: 0 16px 0 10px;
  transform: rotate(270deg) translateX(calc(-50% + 8px));
  transform-origin: left;
  width: 150px;
}
#rumia-light .is-vertical > input[type=range]::-webkit-slider-runnable-track {
  border-bottom: 1px solid grey;
  border-left: 1px solid grey;
  border-right: 0;
  box-shadow: -1px 0 0 #fff, -1px 1px 0 #fff, 0 1px 0 #fff, 1px 0 0 #a9a9a9, 1px -1px 0 #a9a9a9, 0 -1px 0 #a9a9a9, 1px 1px 0 #fff, -1px -1px #a9a9a9;
}
#rumia-light .is-vertical > input[type=range]::-moz-range-track {
  border-bottom: 1px solid grey;
  border-left: 1px solid grey;
  border-right: 0;
  box-shadow: -1px 0 0 #fff, -1px 1px 0 #fff, 0 1px 0 #fff, 1px 0 0 #a9a9a9, 1px -1px 0 #a9a9a9, 0 -1px 0 #a9a9a9, 1px 1px 0 #fff, -1px -1px #a9a9a9;
}
#rumia-light .is-vertical > input[type=range]::-webkit-slider-thumb {
  transform: translateY(-8px) scaleX(-1);
}
#rumia-light .is-vertical > input[type=range].has-box-indicator::-webkit-slider-thumb {
  transform: translateY(-10px) scaleX(-1);
}
#rumia-light .is-vertical > input[type=range]::-moz-range-thumb {
  transform: translateY(2px) scaleX(-1);
}
#rumia-light .is-vertical > input[type=range].has-box-indicator::-moz-range-thumb {
  transform: translateY(0) scaleX(-1);
}
#rumia-light .rumia-bg {
  height: 100%;
  float: left;
  border-right: 3px solid #202020;
}
#rumia-light .rumia {
  float: right;
  position: relative;
  right: 105px;
  top: 50px;
  opacity: 50%;
  transform: scale(1.3);
}
#rumia-light .light-slider-div {
  position: relative;
  left: 10px;
}
#rumia-light .light-slider-div .light-slider {
  width: 100px !important;
  position: relative;
  bottom: 20px;
  left: 5px;
}
#rumia-light .light-slider-div .light-icon {
  position: relative;
  top: 20px;
}
#imgzone {
  width: 100%;
  margin: auto;
  margin-top: 5em;
  margin-bottom: 1.5em;
}
#imgzone video {
  width: 21%;
  display: block;
  margin: auto;
}
#section4 {
  width: 100%;
  margin: auto;
}
#section4 .ikuamp {
  background-image: url("../assets/ikudamp_layout.png");
  background-size: contain;
  background-repeat: no-repeat;
  image-rendering: auto;
  width: 694px;
  height: 308px;
  margin: auto;
  transform: scale(1.08, 1.08);
  display: grid;
  align-items: center;
  grid-template-columns: repeat(6, 5.7375em);
  grid-template-rows: repeat(2, 5.7375em);
  gap: 31px 20px;
  padding-top: 51px;
  padding-left: 22px;
}
#section4 .ikuamp .slot-container {
  position: relative;
}
#section4 .ikuamp .track-slot {
  height: 121px;
  width: 110px;
  image-rendering: pixelated;
  background-image: url("../assets/slot_ikuamp.png");
  text-align: center;
  vertical-align: middle;
}
#section4 .ikuamp .track-slot video {
  width: 100px;
  height: 100px;
  margin-top: 6px;
}
#section4 .ikuamp .track-slot img {
  position: absolute;
  height: 121px;
  width: 110px;
  image-rendering: pixelated;
  left: 0px;
  opacity: 60%;
}
#section4 .ikuamp .track-name {
  text-align: center;
  font-family: 'winamp';
  color: #00ff00;
  font-size: 14px;
  position: relative;
  left: 9px;
  bottom: 13px;
  text-rendering: auto;
}
#section4 .ikuamp .audio-player {
  display: flex;
  align-items: center;
}
#section4 .ikuamp .audio-player > div {
  position: relative;
  bottom: 30px;
  margin-right: 5px;
}
#section4 .ikuamp .audio-player .player-control {
  height: 15px;
}
#section4 .ikuamp .audio-player .player-control .seeking-bar {
  appearance: none;
  width: 236px;
  height: 10px;
  background-image: url("../assets/player_bar.png");
}
#section4 .ikuamp .audio-player .seeking-bar::-moz-range-thumb {
  border: none;
  appearance: none;
  width: 29px;
  height: 10px;
  background-image: url('../assets/player_cursor.png');
  background-position: center center;
  cursor: pointer;
}
#section4 .ikuamp .audio-player .seeking-bar::-moz-range-thumb:active {
  background-image: url('../assets/player_cursor_pushed.png');
}
#section4 .ikuamp .audio-player .seeking-bar::-webkit-slider-thumb {
  appearance: none;
  width: 29px;
  height: 10px;
  background-image: url('../assets/player_cursor.png');
  background-position: center center;
  cursor: pointer;
}
#section4 .ikuamp .audio-player .seeking-bar::-webkit-slider-thumb:active {
  background-image: url('../assets/player_cursor_pushed.png');
}
#section4 .ikuamp .audio-player .actions {
  display: flex;
}
#section4 .ikuamp .audio-player .actions * {
  height: 18px;
  width: 23px;
  position: relative;
  border: none;
}
#section4 .ikuamp .audio-player .actions .play {
  background-image: url('../assets/play.png');
}
#section4 .ikuamp .audio-player .actions .play:active {
  background-image: url('../assets/play_push.png');
}
#section4 .ikuamp .audio-player .actions .pause {
  background-image: url('../assets/pause.png');
}
#section4 .ikuamp .audio-player .actions .pause:active {
  background-image: url('../assets/pause_push.png');
}
#section4 .ikuamp .audio-player .actions .stop {
  background-image: url('../assets/stop.png');
}
#section4 .ikuamp .audio-player .actions .stop:active {
  background-image: url('../assets/stop_push.png');
}
#section4 .ikuamp .audio-player .timer-container {
  background-image: url(../assets/timer_display.png);
  min-width: 50px;
  height: 20px;
}
#section4 .ikuamp .audio-player .timer-container .timer {
  position: relative;
  font-family: "digital7";
  font-size: 19px;
  color: #00ff00;
  text-align: center;
  bottom: 2px;
}
#section4 .ikuamp .audio-player .timer-container .timer.pause {
  animation: blink-animation 2s steps(2, start) infinite;
}
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
#section4 .ikuamp .audio-player .volume-bar {
  appearance: none;
  width: 68px;
  height: 13px;
  background-image: url("../assets/volume_bg.png");
  top: 2px;
  position: relative;
}
#section4 .ikuamp .audio-player .volume-bar::-moz-range-thumb {
  appearance: none;
  border: none;
  width: 14px;
  height: 11px;
  background-image: url('../assets/volume_cursor.png');
  background-position: center center;
  cursor: pointer;
}
#section4 .ikuamp .audio-player .volume-bar::-moz-range-thumb:active {
  background-image: url('../assets/volume_cursor_pushed.png');
}
#section4 .ikuamp .audio-player .volume-bar::-webkit-slider-thumb {
  appearance: none;
  border: none;
  width: 14px;
  height: 11px;
  background-image: url('../assets/volume_cursor.png');
  background-position: center center;
  cursor: pointer;
}
#section4 .ikuamp .audio-player .volume-bar::-webkit-slider-thumb:active {
  background-image: url('../assets/volume_cursor_pushed.png');
}
#section4 .ikuamp .audio-player .title-display {
  background-image: url(../assets/title_display.png);
  min-width: 159px;
  height: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
}
#section4 .ikuamp .audio-player .title-display .song-name {
  position: relative;
  font-family: "winamp";
  font-size: 14px;
  color: #00ff00;
}
#section4 .ikuamp .audio-player .title-display .song-name.base {
  animation: scrollText 7s linear infinite;
  bottom: 2px;
}
@keyframes scrollText {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-150%);
  }
}
#section4 .ikuamp .audio-player .title-display .song-name.set-volume {
  animation: none;
  text-align: center;
}
#section4 .ikuamp .audio-player .title-display .song-name.loading {
  animation: none;
  text-align: center;
}
#section4 .ikuamp .audio-player .repeat .repeat-btn {
  background-image: url('../assets/repeat.png');
  width: 28px;
  height: 15px;
  position: relative;
  display: block;
  border: none;
}
#section4 .ikuamp .audio-player .repeat .repeat-btn.selected {
  background-image: url('../assets/repeat_selected.png');
}
#section4 .ikuamp .audio-player .repeat .repeat-btn:active {
  background-image: url('../assets/repeat_push.png');
}
#section4 .ikuamp .audio-player .logo .logo-btn {
  width: 40px;
  position: relative;
  display: block;
  border: none;
  top: -8px;
  image-rendering: auto;
}
#section4 .ikuamp .audio-player .logo .logo-btn:hover {
  width: 47px;
  left: -2px;
}
