@font-face {
  font-family: 'windamp';
  src: url('../fonts/Sys Flash10.ttf') format('truetype');
}
html {
  background-color: black;
}
body {
  color: white;
  font-size: medium;
}
.main {
  background-image: url("../assets/aquagalaxy_small.gif");
  width: 90em;
  height: 100%;
  margin: auto;
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
}
.remilia {
  width: 12%;
  padding-bottom: 1.7em;
  image-rendering: pixelated;
}
#title {
  display: block;
  width: 35%;
  height: auto;
}
#wings {
  margin-top: -3em;
  margin-bottom: -4em;
}
#wings img {
  display: block;
  margin: auto;
  width: 40%;
  image-rendering: pixelated;
}
#imgzone {
  margin-top: 3em;
  margin-bottom: 2em;
}
#imgzone video {
  display: block;
  margin: auto;
  width: 20%;
}
.ikuamp {
  background-image: url("../assets/windamp_layout.png");
  background-size: contain;
  background-repeat: no-repeat;
  image-rendering: pixelated;
  width: 760px;
  height: 323px;
  margin: auto;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(6, 5.7375em);
  grid-template-rows: repeat(2, 5.7375em);
  gap: 39px 35px;
  padding-top: 40px;
  padding-left: 15px;
}
.ikuamp .slot-container {
  position: relative;
  text-align: center;
  margin-top: 15px;
}
.ikuamp .track-slot {
  height: 121px;
  width: 110px;
  image-rendering: pixelated;
}
.ikuamp .track-name {
  font-family: 'windamp';
  color: #00ff00;
  font-size: 14px;
  position: relative;
  left: 9px;
  bottom: 13px;
  text-rendering: auto;
}
.ikuamp .audio-player {
  display: flex;
}
.ikuamp .audio-player * {
  bottom: 30px;
}
.ikuamp .audio-player .seeking-bar {
  appearance: none;
  width: 248px;
  height: 10px;
  position: relative;
  left: 16px;
  background-image: url("../assets/player_bar.png");
  margin-right: 5px;
}
.ikuamp .audio-player .seeking-bar::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 29px;
  height: 10px;
  background-image: url('../assets/player_cursor.png');
  background-position: center center;
  cursor: pointer;
}
.ikuamp .audio-player .actions {
  display: flex;
  margin-right: 5px;
}
.ikuamp .audio-player .actions * {
  height: 18px;
  width: 23px;
  left: 16px;
  bottom: 31px;
  position: relative;
  border: none;
}
.ikuamp .audio-player .actions .play {
  background-image: url('../assets/play.png');
}
.ikuamp .audio-player .actions .play:active {
  background-image: url('../assets/play_push.png');
}
.ikuamp .audio-player .actions .pause {
  background-image: url('../assets/pause.png');
}
.ikuamp .audio-player .actions .pause:active {
  background-image: url('../assets/pause_push.png');
}
.ikuamp .audio-player .actions .stop {
  background-image: url('../assets/stop.png');
}
.ikuamp .audio-player .actions .stop:active {
  background-image: url('../assets/stop_push.png');
}
.ikuamp .audio-player .repeat {
  background-image: url('../assets/repeat.png');
  width: 28px;
  height: 15px;
  left: 16px;
  bottom: 31px;
  position: relative;
  border: none;
}
.ikuamp .audio-player .repeat.selected {
  background-image: url('../assets/repeat_selected.png');
}
.ikuamp .audio-player .repeat:active {
  background-image: url('../assets/repeat_push.png');
}
