html {
  background-color: black;
}
body {
  color: white;
  font-size: medium;
}
.main {
  background-image: url("../assets/aquagalaxy_small.gif");
  width: 90em;
  height: 100%;
  margin: auto;
}
h1 {
  font-size: 100%;
  text-align: center;
}
.tracks {
  border: 0.1em solid white;
  width: 49.5em;
  height: 15em;
  margin: auto;
}
.tracks-row {
  margin: 0 auto;
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.track-slot {
  height: 6.1875em;
  width: 6.1875em;
}
fieldset {
  padding: 0 0.2em 0.2em 0.2em;
  border-color: #F00;
  border-style: solid;
  border-width: 0.2em;
}
legend {
  font-size: 0.7em;
  background: none;
  margin-left: auto;
  margin-right: auto;
}
