@font-face {
  font-family: 'winamp';
  src: url('../fonts/Sys Flash10.ttf') format('truetype');
}
@font-face {
  font-family: 'digital7';
  src: url('../fonts/digital-7.woff') format('woff');
}
html {
  background-color: black;
}
body {
  color: white;
  font-size: medium;
}
.main {
  background-image: url("../assets/aquagalaxy_small.gif");
  width: 90em;
  height: 100%;
  margin: auto;
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
}
.remilia {
  width: 12%;
  padding-bottom: 1.7em;
  image-rendering: pixelated;
}
#title {
  display: block;
  width: 35%;
  height: auto;
}
#wings {
  margin-top: -3em;
  margin-bottom: -4em;
}
#wings img {
  display: block;
  margin: auto;
  width: 40%;
  image-rendering: pixelated;
}
#imgzone {
  margin-top: 3em;
  margin-bottom: 2em;
}
#imgzone video {
  display: block;
  margin: auto;
  width: 20%;
}
.ikuamp {
  background-image: url("../assets/ikudamp_layout.png");
  background-size: contain;
  background-repeat: no-repeat;
  image-rendering: pixelated;
  width: 694px;
  height: 308px;
  margin: auto;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(6, 5.7375em);
  grid-template-rows: repeat(2, 5.7375em);
  gap: 31px 20px;
  padding-top: 51px;
  padding-left: 22px;
}
.ikuamp .slot-container {
  position: relative;
}
.ikuamp .track-slot {
  height: 121px;
  width: 110px;
  image-rendering: pixelated;
  background-image: url("../assets/slot_ikuamp.png");
  text-align: center;
  vertical-align: middle;
}
.ikuamp .track-slot video {
  width: 100px;
  height: 100px;
  margin-top: 6px;
}
.ikuamp .track-slot img {
  position: absolute;
  height: 121px;
  width: 110px;
  image-rendering: pixelated;
  left: 0px;
  opacity: 60%;
}
.ikuamp .track-name {
  text-align: center;
  font-family: 'winamp';
  color: #00ff00;
  font-size: 14px;
  position: relative;
  left: 9px;
  bottom: 13px;
  text-rendering: auto;
}
.ikuamp .audio-player {
  display: flex;
  align-items: center;
}
.ikuamp .audio-player > div {
  position: relative;
  bottom: 30px;
  margin-right: 5px;
}
.ikuamp .audio-player .player-control {
  height: 15px;
}
.ikuamp .audio-player .player-control .seeking-bar {
  appearance: none;
  width: 236px;
  height: 10px;
  background-image: url("../assets/player_bar.png");
}
.ikuamp .audio-player .seeking-bar::-moz-range-thumb {
  border: none;
  appearance: none;
  width: 29px;
  height: 10px;
  background-image: url('../assets/player_cursor.png');
  background-position: center center;
  cursor: pointer;
}
.ikuamp .audio-player .seeking-bar::-moz-range-thumb:active {
  background-image: url('../assets/player_cursor_pushed.png');
}
.ikuamp .audio-player .seeking-bar::-webkit-slider-thumb {
  appearance: none;
  width: 29px;
  height: 10px;
  background-image: url('../assets/player_cursor.png');
  background-position: center center;
  cursor: pointer;
}
.ikuamp .audio-player .seeking-bar::-webkit-slider-thumb:active {
  background-image: url('../assets/player_cursor_pushed.png');
}
.ikuamp .audio-player .actions {
  display: flex;
}
.ikuamp .audio-player .actions * {
  height: 18px;
  width: 23px;
  position: relative;
  border: none;
}
.ikuamp .audio-player .actions .play {
  background-image: url('../assets/play.png');
}
.ikuamp .audio-player .actions .play:active {
  background-image: url('../assets/play_push.png');
}
.ikuamp .audio-player .actions .pause {
  background-image: url('../assets/pause.png');
}
.ikuamp .audio-player .actions .pause:active {
  background-image: url('../assets/pause_push.png');
}
.ikuamp .audio-player .actions .stop {
  background-image: url('../assets/stop.png');
}
.ikuamp .audio-player .actions .stop:active {
  background-image: url('../assets/stop_push.png');
}
.ikuamp .audio-player .repeat .repeat-btn {
  background-image: url('../assets/repeat.png');
  width: 28px;
  height: 15px;
  position: relative;
  display: block;
  border: none;
}
.ikuamp .audio-player .repeat .repeat-btn.selected {
  background-image: url('../assets/repeat_selected.png');
}
.ikuamp .audio-player .repeat .repeat-btn:active {
  background-image: url('../assets/repeat_push.png');
}
.ikuamp .audio-player .timer-container {
  background-image: url(../assets/timer_display.png);
  min-width: 50px;
  height: 20px;
}
.ikuamp .audio-player .timer-container .timer {
  position: relative;
  font-family: "digital7";
  font-size: 19px;
  color: #00ff00;
  text-align: center;
  bottom: 2px;
}
.ikuamp .audio-player .timer-container .timer.pause {
  animation: blink-animation 2s steps(2, start) infinite;
}
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
.ikuamp .audio-player .volume-bar {
  appearance: none;
  width: 68px;
  height: 13px;
  background-image: url("../assets/volume_bg.png");
  top: 2px;
  position: relative;
}
.ikuamp .audio-player .volume-bar::-moz-range-thumb {
  appearance: none;
  border: none;
  width: 14px;
  height: 11px;
  background-image: url('../assets/volume_cursor.png');
  background-position: center center;
  cursor: pointer;
}
.ikuamp .audio-player .volume-bar::-moz-range-thumb:active {
  background-image: url('../assets/volume_cursor_pushed.png');
}
.ikuamp .audio-player .volume-bar::-webkit-slider-thumb {
  appearance: none;
  border: none;
  width: 14px;
  height: 11px;
  background-image: url('../assets/volume_cursor.png');
  background-position: center center;
  cursor: pointer;
}
.ikuamp .audio-player .volume-bar::-webkit-slider-thumb:active {
  background-image: url('../assets/volume_cursor_pushed.png');
}
.ikuamp .audio-player .title-display {
  background-image: url(../assets/title_display.png);
  min-width: 159px;
  height: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
}
.ikuamp .audio-player .title-display .song-name {
  position: relative;
  bottom: 2px;
  font-family: "winamp";
  font-size: 14px;
  color: #00ff00;
  animation: scrollText 6s linear infinite;
}
@keyframes scrollText {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}
.ikuamp .audio-player .title-display .song-name.set-volume {
  animation: none;
  text-align: center;
}
